{% extends 'base.html' %} 
{% import 'macros.html' as macro%}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=EB+Garamond:ital,wght@1,400;1,600&family=Josefin+Slab:wght@200;300;400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div
style="
      background-image: url('/static/21.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;">
  <div class=" col-md-10 col-md-offset-1 col-sm-12">
      <h2 class="text-center" style="font-family: 'EB Garamond', serif; font-weight:500;">{{category.name|upper}}</h2>
       <a href="/category/new-post/{{category.id}}"><button class="btn btn-dark"> Post a blog</button></a>
       <HR>
  </div>

  {% if posts %}
    <div style="background-image: url('/static/21.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
      <div class="col-sm-12 col-md-8">
          {{ macro.displayPosts(posts)}}
      </div>
    </div>
  {%else%}
        <div class="well"
        style="background-image: url('/static/21.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
          <h4 class="text-muted" style="padding:10%; text-align:center; padding: 2rem; background-color: antiquewhite;">SORRY BUT THERE ARE NO BLOG POSTS YET.
                CLICK <a href="/category/new-post/{{category.id}}">HERE</a> TO POST ONE</h4>
        </div>
        </div>
  {% endif %}
</div
{% endblock %}
