{% extends 'base.html'%}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=EB+Garamond:ital,wght@1,400;1,600&family=Josefin+Slab:wght@200;300;400;600&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="card" style="
    background-image: url('/static/21.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    
    <h1>OOOPS we cant find that page</h1>

    </div>
{% endblock %}