{% extends 'base.html' %} 
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macro %} 
<!-- Styles block -->
{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=EB+Garamond:ital,wght@1,400;1,600&family=Josefin+Slab:wght@200;300;400;600&display=swap" rel="stylesheet">
{% endblock %}


<!-- Content block -->
{% block content %}
    <title style="font-family: 'EB Garamond', serif;"> {{ title }} </title>

    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-2">
            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ wtf.quick_form(category_form) }}
            </div>

            <div class="col-md-2 col-lg-2">
            </div>

        </div>
    </div>
{% endblock %}