{% extends 'base.html' %}
 {% import 'macros.html' as macro%}

 {% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=EB+Garamond:ital,wght@1,400;1,600&family=Josefin+Slab:wght@200;300;400;600&display=swap" rel="stylesheet">
{% endblock %}

<!-- content block -->
{% block content %}
<div class="container">
     <div class="col-md-12">
            <div style="font-family: 'Josefin Slab', serif; font-weight:400;padding: 3rem;background-color: antiquewhite;">
                <p class="text-left"><a class="btn btn-info" href="{{url_for('.new_post',id=posts.id)}}">Post</a></p>
                <div class="well">
                <h3>{{posts.content}}</h3>
                </div>
            </div>

        <!-- comments -->
        <div class="col-md-6 col-offset-1">
            <table>
                <tr>
                  <td><h4 class="text-left"><a class="btn btn-round" href="{{url_for('.upvote',id=posts.id,vote_type=1)}}">Upvote <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">{{count_likes}}</span>  </a></h4></td>
                  <td>&nbsp;</td>
                  <td><h4 class="text-left"><a class="btn btn-round" href="{{url_for('.upvote',id=posts.id,vote_type=2)}}">Downvote <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{count_dislikes}} </a></h4></td>
                  <td>&nbsp;</td>
                  <td><h4 class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('.post_comment',id=posts.id)}}" style="background-color: black;"><button  class="btn btn-secondary">Add your comment</button></a></h4></td>
                </tr>
              </table>
          

         {% if comment %}
         {{ macro.displaySpecificPost(comment)}}
         <hr>
         {%else%}
         <h3 class="text-center" style="color:rgb(238, 132, 39);">no comments </h3>
         {% endif %}
        </div>

    </div>
  </div>

{% endblock %}